<template>
    <div id="background">
        <div class="row">
            <div class=" col m8 offset-m2 s12">
                <div class="card large">
                    <div class="header">
                        <p class="header-text" dir="rtl">انتخاب کارگاه</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div style="direction: rtl" class="input-field col m12 s12">
                                <input v-model="nationalCode" id="nationalCode" type="text" required="" aria-required="true">
                                <label for="nationalCode" >کدملی</label>
                            </div>
                            <div style="direction: rtl" class="input-field col m12 s12">
                                <input v-model="btiuID" id="btiuID" type="text" required="" aria-required="true">
                                <label for="nationalCode" >کد زنگ تفریح</label>
                            </div>

                            <div dir="ltr" class="row center-align" id="buttons">
                                <a v-bind:disabled="isWaiting" @click="sendNationalCodeToApi" v-bind:class="{disabled : !nationalCodeValid | !btiuIDValid }" class="waves-effect waves-light btn orange" >ثبت</a>
                            </div>
                            <div v-if="isWaiting" class="more-info ">
                                <img src="../assets/loader/three-dots.svg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</template>
<script>

    import $ from 'jquery';
    import VueCropper from 'vue-cropperjs';
    import Router from '../router';
    import axios from 'axios';

    $('document').ready(function(){

    });

    export default {

        name : "NationalCodePage",
        methods:{
            sendNationalCodeToApi : function () {
                this.$store.state.nationalCode = this.nationalCode
                this.$store.state.btiuID = this.btiuID
                localStorage.setItem('nationalCode' , this.nationalCode);
                localStorage.setItem('btiuID' , this.btiuID);


                this.isWaiting = true;
                let that = this;
                let nationalCode = this.persianToEnglish(this.nationalCode)
                axios.post('http://api.btiu.ir/api/workshop/selection/status', { "national_code": that.nationalCode , "btiu_id":that.btiuID })
                    .then(function(response){
                        that.$store.state.selectedWorkshops = response.data.workshops
                        sessionStorage.setItem('selectedWorkshops' , JSON.stringify(response.data.workshops))
                        Router.push({ name : 'WorkshopSelection'})
                    }).catch((err) => {
                    Materialize.toast(err.response.data.error, 8000);
                    that.isWaiting = false;
                })



            },
            persianToEnglish :  function(value) {
                var newValue = "";
                for (var i = 0; i < value.length; i++) {
                    var ch = value.charCodeAt(i);
                    if (ch >= 1776 && ch <= 1785) {
                        // For Persian digits.
                        var newChar = ch - 1728;
                        newValue = newValue + String.fromCharCode(newChar);
                    } else if (ch >= 1632 && ch <= 1641) {
                        // For Arabic & Unix digits.
                        var newChar = ch - 1584;
                        newValue = newValue + String.fromCharCode(newChar);
                    } else newValue = newValue + String.fromCharCode(ch);
                }
                return newValue;
    }

    }
        ,
        mounted(){

        },
        watch : {
            nationalCode : function (val) {
                if(val.length!=10){
                    this.nationalCodeValid = false
                }
                else {
                    this.nationalCodeValid = true
                }
            },
            btiuID : function (val) {
                if(val!=``){
                    this.btiuIDValid = true
                }
                else{
                    this.btiuIDValid = false
                }
            }
        }
        ,
        data(){
            return{
                nationalCode : ``,
                nationalCodeValid: false,
                btiuIDValid: false,
                isWaiting : false,
                btiuID : ``
            }
        },
        components:{

        }
    }

</script>
<style>
    .input-field>label{
        right: 0 !important;
    }
    #background{
        width: 100vw;
        height: 100vh;
        background: url("../assets/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .card{
        margin-top: 5%;
        height: 100%;
    }
    .header{
        width: 100%;
        height: 70px;
        background: linear-gradient(to right, orange , orangered);
    }
    .header-text{
        padding-top: 20px;
        text-align: center;
        font-size: 1.5em !important;
        color: white;
        font-weight : 400;
    }

    .card {
        height: 100% !important;
    }
    label{
        text-align: center !important;
    }
    input{
        text-align: center;
    }

    .resend{
        color: #fc7114;
        top:10px;
        position: relative;
    }
    a:active, a:hover{
        cursor: pointer !important;

    }
    .thumbs-up{
        display: block;
        margin: 0 auto ;
        height: 80vh ;
        padding-bottom: 30px;
    }
    .success-msg{
        font-size: 24px;
        text-align: center;
        padding-bottom: 28px;
    }
    .success-orange{
        color: #ff8316;
    }
    .card{

    }
    .more-info{
        text-align: center;
        color: red;
    }
    .more-info > p {
        font-weight: 400;

    }


    @media (max-width: 600px) {
        .header-text{
            font-size: 1.3em !important;
        }
    }



</style>