<template>
    <div id="background">
        <div class="row">
            <div class=" col s12 m8 offset-m2">
                <div class="card large">
                    <div class="header">
                        <p class="header-text" dir="rtl">انتخاب کارگاه</p>
                    </div>
                    <div dir="rtl" class="card-content">
                        <p class="success-msg">ثبت نام شما با <span class=success-orange>موفقیت</span> انجام شد</p>
                        <table>
                            <thead>
                            <tr>
                                <th v-for="time in timetable">{{time.showedText}}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td v-for="time in studentTimetable">{{time.workshop_name}}</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>


    </div>
</template>
<script>

    import $ from 'jquery';
    import VueCropper from 'vue-cropperjs';
    import Router from '../router';
    import axios from 'axios'

    $('document').ready(function(){

    });

    export default {
        name : "Success",
        methods:{}
        ,
        mounted(){
            this.timetable = Router.currentRoute.params.timetable;
            this.studentTimetable = Router.currentRoute.params.studentTimetable;
        },
        watch : {}
        ,
        data(){
            return{
                timeTable : [],
                studentTimetable : []
            }
        },
        components:{

        },

    }

</script>
<style>
    #background{
        width: 100vw;
        /*height: 100vh;*/
        background: url("../assets/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .card{
        margin-top: 5%;
        /*height: 100%;*/
    }
    .header{
        width: 100%;
        height: 70px;
        background: linear-gradient(to right, orange , orangered);
    }
    .header-text{
        padding-top: 20px;
        text-align: center;
        font-size: 25px;
        color: white;
        font-weight : 400;
    }

    .card {
        height: 100% !important;
    }
    label{
        text-align: center !important;
    }
    input{
        text-align: center;
    }

    table {
        direction: rtl;
        text-align: center;
    }
    tr > td{
        text-align: center;
    }
    tr > th{
        text-align: center;
    }



    .resend{
        color: #fc7114;
        top:10px;
        position: relative;
    }
    a:active, a:hover{
        cursor: pointer !important;

    }
    .thumbs-up{
        display: block;
        margin: 0 auto ;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        height: unset !important;
        width: 80% !important;
    }
    .success-msg{
        font-size: 24px;
        text-align: center;
        padding-bottom: 28px;
    }
    .success-orange{
        color: #ff8316;
        font-weight: 500;
    }


    /*.modal-body{*/
    /*background: white;*/
    /*}*/

    /*!* label color *!*/
    /*.input-field label {*/
    /*color: #0F6FB2;*/
    /*}*/
    /*!* label focus color *!*/
    /*.input-field input[type=text]:focus + label {*/
    /*color: #000 !important;*/
    /*}*/
    /*!* label underline focus color *!*/
    /*.input-field input[type=text]:focus {*/
    /*border-bottom: 1px solid #000;*/
    /*box-shadow: 0 1px 0 0 #000;*/
    /*}*/
    /*!* valid color *!*/
    /*.input-field input[type=text].valid {*/
    /*border-bottom: 1px solid #000;*/
    /*box-shadow: 0 1px 0 0 #000;*/
    /*}*/
    /*!* invalid color *!*/
    /*.input-field input[type=text].invalid {*/
    /*border-bottom: 1px solid #000;*/
    /*box-shadow: 0 1px 0 0 #000;*/
    /*}*/
    /*!* icon prefix focus color *!*/
    /*.input-field .prefix.active {*/
    /*color: #000;*/
    /*}*/

    @media (max-width: 600px) {
        .header-text{
            font-size: 1.3em !important;
        }

    }



</style>