<template>
    <div>
        <div class="grid-container">
            <div class="workshops">
                <ul class="collapsible" data-collapsible="accordion">
                    <li class="search">
                        <input type="text" placeholder="جست و جو کنید" v-model="search">
                    </li>
                    <li v-for="(workshop,index) in filteredItems" v-show="workshop.selectable">

                        <!-- Side bar Samte RAST  -->

                        <div class="collapsible-header" @click="workshopSelected(workshop.id)">{{workshop.title}}</div>
                        <div class="collapsible-body">
                            <!--<span>{{workshop.student_description}}</span>-->
                            <div class="workshop_categories">
                                <div v-for="content in workshop.content" class="chip">
                                    <template v-if="content=='other'">سایر</template>
                                    <template v-if="content=='olom_pezeshki'">علوم پزشکی</template>
                                    <template v-if="content=='sargarmi'">سرگرمی</template>
                                    <template v-if="content=='olom_paye'">علوم پایه</template>
                                    <template v-if="content=='olom_fani_mohandesi'">علوم فنی مهندسی</template>
                                    <template v-if="content=='olom_ensani'">علوم انسانی</template>
                                    <template v-if="content=='honar_va_adabiat'">هنر و ادبیات</template>
                                </div>
                            </div>
                            <div class="flexContainer">
                                <div class="chip remainingChip">
                                    ظرفیت باقی مانده
                                    {{workshop.remaining_capacity}}
                                    نفر
                                </div>
                            </div>
                            <div v-if="workshop.is_by_btiu" class="flexContainer">
                                <div class="chip remainingChip">
                                    <p>توسط BTIU</p>
                                </div>
                            </div>

                        </div>
                        <div class="categories" v-bind:ref="'wshopcat'+index">
                            <div v-for="content in workshop.content">
                                <template v-if="content=='other'">
                                    <img src="../assets/questions-circular-button.png" width="32" height="32">
                                </template>
                                <template v-if="content=='olom_pezeshki'">
                                    <img src="../assets/hospital.png" width="32" height="32">
                                </template>
                                <template v-if="content=='sargarmi'">
                                    <img src="../assets/mask.png" width="32" height="32">
                                </template>
                                <template v-if="content=='olom_paye'">
                                    <img src="../assets/notebook.png" width="32" height="32">
                                </template>
                                <template v-if="content=='olom_fani_mohandesi'">
                                    <img src="../assets/engineering.png" width="32" height="32">
                                </template>
                                <template v-if="content=='olom_ensani'">
                                    <img src="../assets/recruitment.png" width="32" height="32">
                                </template>
                                <template v-if="content=='honar_va_adabiat'">
                                    <img src="../assets/pencil-case.png" width="32" height="32">
                                </template>
                            </div>
                        </div>

                        <!-- end of Side bar Samte rast -->
                    </li>


                </ul>
            </div>
            <div class="description" v-if="!selectedWorkshopEmpty">
                <div class="header">
                    <p class="header-text" dir="rtl">{{selectedWorkshop.title}}</p>
                </div>
                <div class="flex_row_container">
                    <div class="row">
                        <div style="display: flex;justify-content: center;direction: rtl;flex-direction: column;align-items: center;margin-top: 5px"
                             class="col m12 s12 right">
                            <label id="remaining_capacity_id" for="remaining_capacity">ظرفیت باقی مانده</label>
                            <h3 id="remaining_capacity">{{selectedWorkshop.remaining_capacity}}نفر </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div style="display: flex;justify-content: center;direction: rtl;flex-direction: column;align-items: center;margin-top: 5px"
                             class="col m12 s12 right">
                            <label id="head_label" for="head">برگزار کننده</label>
                            <h3 id="head" v-text="selectedWorkshop.head"></h3>
                        </div>
                    </div>
                </div>

                <div class="row"
                     style="display: flex;justify-content: center;direction: rtl;flex-direction: column;align-items: center;margin-top: 5px">
                    <label id="student_description_label">توضیحات</label>
                    <p class="student_description">{{selectedWorkshop.student_description}}</p>
                </div>

                <div class="row"
                     style="display: flex;justify-content: space-evenly;direction: rtl;flex-direction: column;align-items: center;margin-top: 5px;">
                    <label id="sutdent_description_label">زمان های کارگاه</label>
                    <div class="workshop_time">

                        <!-- BUG -->

                        <div v-for="time in selectedWorkshop.time">

                            {{ showText(time) }}

                        </div>


                    </div>
                </div>

                <div class="flexContainer"
                     style="background: #f98300; margin: auto 250px;border-radius: 2px; min-width: 200px">
                    <p class="checkboxSelect">
                        <input :disabled="selectedWorkshop.is_by_btiu" v-model="selectedWorkshop.selected"
                               @click="workshopCheck(selectedWorkshop)" type="checkbox"
                               v-bind:id="'checkbox'+selectedWorkshop.id"/>

                        <!--buttoni ke vase By Btiu bayad Disable shavad -->
                        <!-- v-bind:class="{ disabled: isDisabled }" -->

                        <label v-bind:for="'checkbox'+selectedWorkshop.id">انتخاب این کارگاه</label>
                    </p>
                </div>

            </div>
            <div class="timetable">
                <table>
                    <thead>
                    <tr>
                        <th v-for="time in timetable">{{time.showedText}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td v-for="time in studentTimetable">{{time.workshop_name}}</td>
                    </tr>
                    </tbody>
                </table>
                <a @click="sendToApi" id="regitster_btn" class="waves-effect waves-light btn orange">ثبت</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal bottom-sheet">
                    <div class="modal-content">
                        <h4 v-if="status.success" class="green_success">ثبت نام کامل شده است</h4>
                        <h4 v-else-if="!status.success">ثبت نام هنوز کامل نشده است</h4>

                        <div class="buttonFlex">
                            <a @click="goToSuccess" v-if="status.success" class="waves-effect waves-light btn green">تایید
                                ثبت نام</a>
                            <a @click="closeModal" class="waves-effect waves-light btn orange">بازگشت</a>
                        </div>

                        <div style="display: flex;flex-direction: row;justify-content: space-between">
                            <div class="inserts" v-if="inserts.length>0">
                                <h5>کارگاه های زیر اضافه شدند</h5>
                                <p v-for="insert in inserts">
                                    {{insert}}
                                </p>
                            </div>
                            <div class="notInserts" v-if="notInserts.length>0">
                                <h5>کارگاه های زیر اخذ نشدند</h5>
                                <p v-for="notInsert in notInserts">
                                    {{notInsert}}
                                </p>
                            </div>
                            <div class="deletes" v-if="deletes.length>0">
                                <h5>کارگاه های زیر حذف شدند</h5>
                                <p v-for="deleted in deletes">
                                    {{deleted}}
                                </p>
                            </div>
                            <div class="selected" v-if="selected.length>0">
                                <h5>کارگاه های زیر تایید شده اند</h5>
                                <p v-for="select in selected">
                                    {{select}}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="phone_view">
            <h4>لطفا با لپتاپ یا کامپیوتر شخصی و با مرورگر کروم وارد شوید.</h4>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import moment from 'moment-jalaali'
    import tz from 'moment-timezone'
    import Router from '../router';
    import _ from 'lodash';


    export default {
        name: "WorkshopSelection",

        mounted: function () {
            moment.loadPersian({usePersianDigits: true, dialect: 'persian-modern'});
            $(document).ready(function () {
                $('.collapsible').collapsible();
                $('.modal').modal();

            });

            let that = this;
            axios.get("http://api.btiu.ir/api/workshop/selection/workshops").then((response) => {
                that.workshops = response.data

                for (let index in that.workshops) {
                    that.workshops[index].selected = false;
                    that.workshops[index].selectable = true;
                }
                let workshopsFromBefore = JSON.parse(sessionStorage.getItem('selectedWorkshops'))
                workshopsFromBefore.map((element) => {
                    that.workshops.map((workshop) => {
                        if (workshop.id == element) {
                            workshop.selected = true;

                            let workshopSel = {selected: 0, unselectable: [], time: [], title: ``, content: []}
                            workshopSel.selected = workshop.id
                            workshopSel.time = workshop.time
                            workshopSel.title = workshop.title
                            workshopSel.content = workshop.content
                            workshop.time.map((time) => {
                                that.workshops.map((ourWorkshop) => {

                                    if (ourWorkshop.time.includes(time)) {
                                        if (ourWorkshop.id != workshop.id) {
                                            ourWorkshop.selectable = false
                                            workshopSel.unselectable.push(ourWorkshop.id)
                                            this.$forceUpdate();
                                        }

                                    }
                                })
                            })

                            that.workshopsSelected.push(workshopSel)

                            that.workshopsSelected.map((workshop) => {
                                workshop.time.map((time) => {
                                    let timeIndex = _.findIndex(that.timetable, function (o) {
                                        return o.id == time;
                                    });
                                    that.studentTimetable[timeIndex].workshop_name = workshop.title
                                    that.studentTimetable[timeIndex].workshop_id = workshop.selected
                                })
                            })


                        }
                    })
                })
            })
            axios.get("http://api.btiu.ir/api/workshop/selection/timetable").then((response) => {
                that.timetable = response.data
                for (let index in that.timetable) {
                    that.timetable[index].showedText = moment(that.timetable[index].start_date).utcOffset(270).format('jD jMMMM jYYYY HH:mm')
                    that.timetable[index].showedText += ' تا ' + moment(that.timetable[index].start_date).utcOffset(270).add(that.timetable[index].duration, 'minutes').format('HH:mm')
                    // debugger;

                    that.studentTimetable.push({
                        id: that.timetable[index].id,
                        index: index,
                        workshop_id: 0,
                        workshop_name: ' ',

                    })

                }


                that.timetable = that.timetable.sort(function (a, b) {
                    // console.log(b.id)
                    //console.log(a.showedText[0]-b.showText[0])
                    //  return (a.showedText[0]-b.showedText[0]) //chun tuye showedText indexe aval ruz bood
                    return (a.id) // chizi ke vase parsal bood vali kar nemikne alan
                })

                //console.log(that.timetable)

            })


        },
        data() {
            return {
                ourWorkshop: null,
                workshops: [],
                selectedWorkshop: {},
                selectedWorkshopEmpty: true,
                contents: ["other", "olom_pezeshki", "sargarmi", "olom_paye", "olom_fani_mohandesi", "olom_ensani", "honar_va_adabiat"],
                timetable: [],
                studentTimetable: [],
                workshopsSelected: [],
                search: ``,
                status: {},
                inserts: [],
                notInserts: [],
                deletes: [],
                selected: []
            }
        },
        methods: {
            showText: function (value1) {
                let obj1 = this.timetable.find((e) => {
                    return e.id == value1
                })

                return obj1.showedText
            },
            closeModal: function () {
                $('#modal1').modal('close');
            },
            goToSuccess: function () {
                $('#modal1').modal('close');
                Router.push({
                    name: 'Success',
                    params: {studentTimetable: this.studentTimetable, timetable: this.timetable}
                })
            },
            workshopSelected: function (index) {
                $('.categories').show()
                $(this.$refs['wshopcat' + index]).toggle()

                this.workshops.map((workshop) => {
                    if (workshop.id == index) {
                        this.selectedWorkshop = workshop
                    }
                })
            },
            workshopCheck: function (newWorkshop) {
                //console.log(newWorkshop)
                this.ourWorkshop = newWorkshop;
                let that = this;
                setTimeout(() => {
                    if (newWorkshop.selected) {
                        let workshopSel = {selected: 0, unselectable: [], time: [], title: ``, content: []}
                        workshopSel.selected = newWorkshop.id
                        workshopSel.time = newWorkshop.time
                        workshopSel.title = newWorkshop.title
                        workshopSel.content = newWorkshop.content
                        that.workshops.filter((workshop) => {
                            return workshop.id == newWorkshop.id
                        })[0].selected = true;
                        newWorkshop.time.map((time) => {
                            that.workshops.map((workshop) => {

                                if (workshop.time.includes(time)) {
                                    if (workshop.id != newWorkshop.id) {
                                        workshop.selectable = false
                                        workshopSel.unselectable.push(workshop.id)
                                        this.$forceUpdate();
                                    }

                                }
                            })
                        })

                        that.workshopsSelected.push(workshopSel)
                        //console.log(workshopSel)
                        this.$forceUpdate();


                    }

                    // vase HAZF  START
                    else {
                        that.workshops.filter((workshop) => {
                            return workshop.id == newWorkshop.id
                        })[0].selected = false;

                        //console.log(this.ourWorkshop)

                        that.workshopsSelected.map((ourWorkshop) => {
                            // console.log(ourWorkshop) // Workshop selected ro neshun mide
                            //console.log(twoTime)
                            //console.log(newWorkshop)
                            if (ourWorkshop.selected == newWorkshop.id) {
                                ourWorkshop.time.map((twoTime) => {
                                    that.workshops.map((wshop) => {
                                        if (wshop.time.includes(twoTime)) {
                                            if (wshop.time.length == 1) {
                                                let timeIndex = _.findIndex(that.studentTimetable, function (o) {
                                                    return o.id == twoTime;
                                                });
                                                wshop.selectable = true;
                                                //console.log(twoTime)
                                                //1
                                                that.studentTimetable[timeIndex].workshop_name == " ";
                                                //console.log(ti)
                                                //console.log(wshop)
                                                // inja miad 
                                            }
                                            if (wshop.time.length >= 2) {
                                                let counter = 0
                                                wshop.time.map((twoTime) => {

                                                    // bayad idisho == " " bezarim !
                                                    if (that.studentTimetable[twoTime - 1].workshop_name == " ") {

                                                        counter = counter + 1;
                                                    }
                                                })
                                                if (counter == 2) {
                                                    wshop.selectable = true;
                                                    that.studentTimetable[twoTime - 1].workshop_name == " "


                                                }
                                            }
                                        }
                                    })
                                })


                                that.workshops.map((ourWorkshop) => {
                                    if (ourWorkshop.time.length == 1) {
                                        // console.log(ourWorkshop)
                                        // tamame oonaee 1 section hastand
                                        ourWorkshop.time.map((time) => {
                                            let timeIndex = _.findIndex(that.studentTimetable, function (o) {
                                                return o.id == time;
                                            });
                                            //console.log(ourWorkshop)
                                            //console.log(time)
                                            if (that.studentTimetable[timeIndex].workshop_name == " ") {
                                                ourWorkshop.selectable = true
                                                // systemie ke miad mige che kargahaii mitune bardare
                                            }
                                        })
                                    }

                                    // ta inja ham mirese 

                                    if (ourWorkshop.time.length == 2) {
                                        let counter = 0;
                                        ourWorkshop.time.map((time) => {
                                            let timeIndex = _.findIndex(that.studentTimetable, function (o) {
                                                return o.id == time;
                                            });
                                            if (that.studentTimetable[timeIndex].workshop_name == " ") {
                                                counter = counter + 1

                                            }
                                        })
                                        if (counter == 2) {
                                            ourWorkshop.selectable = true

                                        }
                                    }

                                    if (ourWorkshop.time.length == 3) {
                                        let counter = 0;
                                        ourWorkshop.time.map((time) => {
                                            let timeIndex = _.findIndex(that.studentTimetable, function (o) {
                                                return o.id == time;
                                            });
                                            if (that.studentTimetable[timeIndex].workshop_name == " ") {
                                                counter = counter + 1
                                            }
                                        })
                                        if (counter == 3) {
                                            ourWorkshop.selectable = true
                                            console.log(ourWorkshop)
                                        debugger
                                        }
                                    }


                                })
                                // yejaee to in parantez ghablie be fuck mire

                                for (let i in that.workshopsSelected) {
                                    if (that.workshopsSelected[i].selected == newWorkshop.id) {
                                        // console.log(that.workshopsSelected[i].selected )
                                        that.workshopsSelected.splice(i, 1)
                                        // this.$delete(that.workshopSelected,i)
                                    }
                                }
                            }
                        })
                        this.$forceUpdate();
                    }
                    // END OF  HAZF  
                    let the_index = 0;
                    that.studentTimetable.map((timeTable) => {
                        // BUG FIXED 
                        timeTable.workshop_name = " "
                        timeTable.id = that.timetable[the_index].id
                        the_index++;
                    })

                    that.workshopsSelected.map((workshop) => {
                        workshop.time.map((time) => {
                            let st = that.studentTimetable.find((e) => e.id == time)
                            // that.studentTimetable[time-1].workshop_name = workshop.title
                            // that.studentTimetable[time-1].workshop_id = workshop.selected
                            st.workshop_name = workshop.title
                            st.workshop_id = workshop.selected
                            //console.log(time)
                        })
                    })

                    this.$forceUpdate();
                }, 500)
                this.search = "molotov"
                this.search = ""

            },
            sendToApi: function () {

                let that = this;
                let timeTableCounter = 0;
                that.studentTimetable.map((timeTable) => {
                    if (timeTable.workshop_name != " ") {
                        timeTableCounter += 1;
                    }
                })

                // IN COUNTERE NABAYAD DAST BOKHORE?
                // in COunter bayad avz she nesbat be tedad TimeTable 

                if (timeTableCounter == 15) {
                    let allContents = []
                    that.workshopsSelected.map((workshop) => {
                        workshop.content.map((content) => {
                            if (!allContents.includes(content)) {
                                if (content == 'sargarmi') {
                                    if (!allContents.includes('other')) {
                                        allContents.push(content)
                                    }
                                } else if (content == 'other') {
                                    if (!allContents.includes('sargarmi')) {
                                        allContents.push(content)
                                    }
                                } else {
                                    allContents.push(content)
                                }

                            }
                        })
                    })
                    // if(allContents.length>=4){
                    let selections = []
                    this.workshopsSelected.map((workshop) => {
                        selections.push(workshop.selected)
                    });

                    axios.post('http://api.btiu.ir/api/workshop/selection/select', {
                        "national_code": localStorage.getItem('nationalCode'),
                        "btiu_id": localStorage.getItem('btiuID'),
                        "selections": selections
                    })
                        .then(function (response) {
                            let selectedIDs = []
                            for (let i = 0; i < that.workshopsSelected.length; i++) {
                                selectedIDs.push(that.workshopsSelected[i].selected)
                            }
                            sessionStorage.setItem('selectedWorkshops', JSON.stringify(selectedIDs))

                            that.status = response.data
                            that.inserts = [];
                            that.notInserts = [];
                            that.deletes = [];
                            that.selected = [];


                            for (let i in that.status.inserts) {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == i) {
                                        if (that.status.inserts[i]) {
                                            that.inserts.push(workshop.title)
                                        } else {
                                            that.notInserts.push(workshop.title)
                                        }
                                    }
                                })
                            }
                            for (let i in that.status.deletes) {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == i) {
                                        that.deletes.push(workshop.title)
                                    }
                                })
                            }
                            that.status.workshops.map((workshop_id) => {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == workshop_id) {
                                        that.selected.push(workshop.title)
                                    }
                                })
                            })
                            $('#modal1').modal('open');

                        }).catch((err) => {
                        Materialize.toast(err.response.data.error, 8000);
                    })


                    this.$forceUpdate();
                } else if (timeTableCounter < 15) {
                    let selections = []
                    this.workshopsSelected.map((workshop) => {
                        selections.push(workshop.selected)
                    });

                    axios.post('http://api.btiu.ir/api/workshop/selection/select', {
                        "national_code": localStorage.getItem('nationalCode'),
                        "btiu_id": localStorage.getItem('btiuID'), "selections": selections
                    })
                        .then(function (response) {
                            let selectedIDs = []
                            for (let i = 0; i < that.workshopsSelected.length; i++) {
                                selectedIDs.push(that.workshopsSelected[i].selected)
                            }
                            //console.log(selectedIDs)
                            sessionStorage.setItem('selectedWorkshops', JSON.stringify(selectedIDs));

                            that.status = response.data
                            that.inserts = [];
                            that.notInserts = [];
                            that.deletes = [];
                            that.selected = [];
                            for (let i in that.status.inserts) {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == i) {
                                        if (that.status.inserts[i]) {
                                            that.inserts.push(workshop.title)
                                        } else {
                                            that.notInserts.push(workshop.title)
                                        }
                                    }
                                })
                            }
                            for (let i in that.status.deletes) {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == i) {
                                        that.deletes.push(workshop.title)
                                    }
                                })
                            }
                            that.status.workshops.map((workshop_id) => {
                                that.workshops.map((workshop) => {
                                    if (workshop.id == workshop_id) {
                                        that.selected.push(workshop.title)
                                    }
                                })
                            })
                            $('#modal1').modal('open');

                        }).catch((err) => {
                        Materialize.toast(err, 8000);

                    })
                    this.$forceUpdate();
                } else {
                    Materialize.toast("تعداد کارگاه های شما از حد مجاز بیشتر است", 8000);
                    this.$forceUpdate();
                }

            }
        },
        watch: {
            selectedWorkshop: function (val) {
                if (val != {}) {
                    this.selectedWorkshopEmpty = false
                } else {
                    this.selectedWorkshopEmpty = true
                }
            },
            workshopsSelected: function (val) {
                if (val.length == 0) {
                    this.studentTimetable.map((element) => {
                        element.workshop_id = 0;
                        element.workshop_name = " ";
                    })
                    this.workshops.map((wshop) => {
                        wshop.selectable = true;
                    })
                }
                this.search = ""
                this.$forceUpdate();
            }
        },
        computed: {
            filteredItems() {
                return this.workshops.filter(workshop => {
                    return workshop.title.indexOf(this.search.toLowerCase()) > -1 && workshop.selectable
                })
            },
            isDisabled() {
                if (this.workshop.is_by_btiu = true) {
                    return true;
                } else {
                    return fasle;
                }
            }

        }
    }
</script>

<style scoped>
    .buttonFlex {
        direction: rtl;
        display: flex;
        justify-content: center;
    }

    .buttonFlex > a {
        margin-right: 10px;
    }

    .green_success {
        color: #0f9d58 !important;
    }

    .phone_view {
        display: none;
    }

    .inserts {
        color: #27ae60;
    }

    .notInserts {
        color: #e74c3c;
    }

    .deletes {
        color: #e74c3c;
    }

    .selected {
        color: #2980b9;
    }

    .modal-content {
        direction: rtl;
    }

    .modal-content > h4 {
        text-align: center;
        color: #f86800;
    }

    .workshop_time {
        /*display: flex;*/
        /*justify-content: space-between;*/
    }

    .search > input {
        color: white;
        font-family: IRANSans;
        text-align: center;
    }

    .search > input::placeholder {
        color: white;
    }

    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid white;
        -webkit-box-shadow: 0 1px 0 0 white;
        box-shadow: 0 1px 0 0 white;
    }

    #regitster_btn {
        margin-top: 10px;
    }

    .checkboxSelect {
        margin-top: 10px;
    }

    .checkboxSelect > label {
        font-size: 15px;
        font-weight: bolder;
        color: white;
    }

    table {
        direction: rtl;
        text-align: center;
    }

    table > td {
        text-align: center;

    }

    .remainingChip {
        background: #f75100;
        color: white;
    }

    .flexContainer {
        display: flex;
        justify-content: center;
    }

    th, td {
        text-align: center;
    }

    label {
        font-size: 15px;
        margin-bottom: 5px;
    }

    #sutdent_description_label {
    }

    .student_description {
        direction: rtl;
        margin: 0 15px;
        font-size: 1.2em;
    }

    .flex_row_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #head {
        font-size: 2em;
    }

    h3 {
        margin: 0;
        margin-top: 5px;
        font-size: 23px !important;
    }

    #remaining_capacity_id {
        height: 100%;
        font-size: 15px;
    }

    #remaining_capacity {
        color: #333;
    }

    .workshop_categories {
        margin: 8px 0;
        text-align: center;
    }

    .categories {
        background: orange;
        border: 0.5px white solid;
        border-radius: 4px;
        min-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categories img {
        margin: 5px;
        margin-bottom: 0;
    }

    ul {
        padding-right: 0;
        box-shadow: none;
    }

    ul > li {
        border-radius: 8px;
        padding: 8px;
        margin: 5px 8px;
        background: rgba(255, 166, 46, 0.65);
    }

    ul > li:hover {
        background: rgba(255, 166, 46, 0.85);
    }

    .collapsible {
        margin-top: 0;

    }

    .collapsible-header {
        font-weight: 400;
        justify-content: center;
        text-align: center;
        background: transparent;
        color: white;
        border-bottom: none;
    }

    .collapsible-body {
        padding: 5px;
        border-bottom: none;
        color: white;
        font-weight: 300;
        font-size: 13px;
    }

    p {
        margin: 0;
    }

    .grid-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "description sidebar" "timetable sidebar";
    }

    .workshops {
        grid-area: sidebar;
        background: #fa9000;
        overflow-y: auto;
        direction: rtl;
    }

    .description {
        grid-area: description;
        background: white;

    }

    .timetable {
        grid-area: timetable;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        width: 100%;
        height: 70px;
        background: linear-gradient(to right, orange, orangered);
    }

    .header-text {
        padding-top: 20px;
        text-align: center;
        font-size: 1.5em !important;
        color: white;
        font-weight: 400;
    }

    @media (max-width: 600px) {
        /*.description {*/
        /*display: none;*/
        /*}*/
        /*!*.timetable{*!*/
        /*!*display: none;*!*/
        /*!*}*!*/
        /*.workshops {*/
        /*margin: 5px;*/
        /*}*/
        /*.grid-container {*/
        /*display: grid;*/
        /*width: 100vw;*/
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 1fr;*/
        /*grid-template-areas: "description";*/
        /*}*/
        .phone_view {
            display: flex;
            direction: rtl;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, orange, orangered);
            color: white;

        }

        .phone_view > h4 {
            text-align: center;;
        }

        .grid-container {
            display: none;
        }
    }

</style>