<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

  @import "./assets/css/fontiran.css";
  @import './assets/css/materialize-rtl.min.css';

  /*@import "./assets/fonts/ttf/IRANSansWeb.ttf";*/
  /*@import "./assets/fonts/ttf/IRANSansWeb_Black.ttf";*/
  /*@import "./assets/fonts/ttf/IRANSansWeb_Bold.ttf";*/
  /*@import "./assets/fonts/ttf/IRANSansWeb_Light.ttf";*/
  /*@import "./assets/fonts/ttf/IRANSansWeb_Medium.ttf";*/
  /*@import "./assets/fonts/ttf/IRANSansWeb_UltraLight.ttf";*/



  h1,h2,h3,h4,h5,h6,table,tr,th,td,body,a,p{
    font-family: IRANSans;
  }

  h1,h2,h3,h4,h5,h6,th{
    font-weight: 400;
  }

  td,p{
    font-weight: 200;
  }

</style>
